/* set up basic font */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: grey;
}

/* create main flex container */
#main_container{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows: auto;
    justify-content: center;
    height: 100%;
}

#about_tab{
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: auto;
    justify-content: center;
    padding: 30px 10px;
}

#avatar_container{
    text-align: center;
}

#avatar{
    border-radius: 50%;
    width: 200px;
    border: solid white;
}

#name{
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}
#content_container{
    background-color: rgb(31, 31, 31);
    padding: 10px 25px;
    height: 95vh;
    overflow: hidden;
}

.tablink {
    background-color: black;
    color: white;
    float: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 10px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 70px;
}

.tablink:hover {
    background-color: rgb(49, 49, 49);
}

.tabcontent {
    display: grid;
    background-color: rgb(70, 70, 70);
    margin-bottom: 20px;
    box-shadow: 0 0 10px 10px rgb(70, 70, 70);
    display: none;
    color: white;
    height: 90vh;
}

#home_tab{
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 92%;
}

.welcome_text{
    font-size: 2.5em;
    font-weight: bolder;
    text-align: center;
}

#project_tab{
    justify-content: center;
    width: 100%;
    height: 87vh;
}

#project_content{
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: auto;
    justify-content: center;
    width: 100%;
}

#resume_tab{
    justify-content: center;
    grid-row-gap: 0;
    width: 100%;
    height: 92%;
}

#lorem_tab{
    justify-content: center;
    width: 100%;
    height: 92%;
}

#ipsum_tab{
    justify-content: center;
    width: 100%;
    height: 92%;
}

#content_tab{
    width: auto;
}

.projects{
    width: 300px;
    height: 400px;
    margin: 10px auto;
}

p {
    height: fit-content;
    margin: 5px 20px;
}

@media screen and (min-width: 700px){
    #main_container{
        grid-template-columns: 300px minmax(400px,700px);
    }
    
    .tabcontent{
        height: 95vh;
        overflow: hidden scroll;
    }
}

@media screen and (min-width: 1000px){
    #main_container{
        grid-template-columns: 300px minmax(700px, 900px);
    }
    #project_content{
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: auto;
        width: 100%;
    }
}

@media screen and (min-width: 1350px){
    #main_container{
        grid-template-columns: 300px minmax(900px, 8000px);
    }

    #project_content{
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: auto;
        width: 100%;
    }
}